.container{
  height: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
h2{
  text-align: center;
  color: #69f0ae;
  font-size: 20pt;
}
.example-form-field {
  width: 350px;
  font-size: 14pt;
}
.carta{
  background-color: rgba(14, 24, 68, 0.418);
}
mat-spinner{
  margin: 5px auto;
}
.btn{
  background-color: rgba(26, 26, 112, 0.616);
}
.btn:hover{
  background-color: rgba(16, 175, 24, 0.616);
}
