<div class="container">
  <form [formGroup]="formDown">
    <mat-card class="carta">
      <mat-card-title>
        <h2>NetKin DVY</h2>
        <mat-divider></mat-divider>
        <br>
      </mat-card-title>
      <mat-card-content>
        <mat-form-field class="example-form-field" color="accent">
          <input
            matInput
            type="text"
            placeholder="Ingrese url del video"
            autocomplete="off"
            formControlName="url"
            spellcheck="false"
            autofocus>
          <mat-error *ngIf="validacion('url','required')">
            Falta ingresar la url
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button class="btn" *ngIf="!loading" [disabled]="formDown.invalid" (click)="downloadVideo()">
          Descargar
        </button>
        <button mat-raised-button class="btn" *ngIf="loading">
          <mat-spinner color="accent" diameter="26" strokeWidth="3.5"></mat-spinner>
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
<lib-ng-toast></lib-ng-toast>
